body {
  min-width: 600px;
  width: 600px;
  width: auto !important;
  background-color: #ddd;
}

/* main layout */
#banner {
  color: #FFA500;
  border: none;
  margin: 0 0 0 0;
  border-bottom: 2px solid #D2B48C;
  background-color: #fff;
  padding: 10px 20px 10px 20px;
}

#leftColumn {
  background-color: transparent;
  position: absolute;
  top: 120px;
  left: 20px;
  width: 180px;
  margin: 0px;
  padding: 0px;
  border: none;
  overflow: hidden;
}

#bodyColumn {
  margin: 18px 20px 20px 220px;
  border: 2px solid #D2B48C;
  background-color: #fff;
  color: #333333;
  padding: 30px;
  position: relative;
}

#footer div.xright {
  color: #fff;
  margin-right: 10px;
}

/* end main layout */
.deprecated {
  text-decoration: line-through;
}

.comment {
  color: green;
}

.source pre {
  font-size: 8pt;
  font-family: courier;
}

body,div,span,td,p,h2,h3 {
  font-family: Georgia, Verdana, Geneva, Arial, Helvetica, sans-serif;
  font-size: 10pt;
}

table td,table th {
  font-size: 8pt;
}

table.bodyTable {
  border-collapse: collapse;
}

table.bodyTable td,table.bodyTable th {
  border: 1px solid #fff;
  padding: 3px 5px 3px 5px;
}

#breadcrumbs {
  background-color: transparent;
  border: none;
  height: 15px;
}

h2 {
  border: none;
  border-bottom: 1px solid #ccc;
  background-color: transparent;
  color: #900;
  font-size: 12pt;
  padding-left: 0;
  font-variant: small-caps;
  font-family: "Trebuchet MS", arial, sans-serif;
  text-transform: uppercase;
  letter-spacing: 3px;
}

h3 {
  border: none;
  background-color: transparent;
  color: #900;
  font-size: 10pt;
  font-weight: bolder;
  padding-left: 0;
  font-weight: light;
  font-family: "Trebuchet MS", arial, sans-serif;
  text-transform: capitalize;
  letter-spacing: 2px;
}

#navcolumn h5 {
  padding: 3px 3px 3px 10px;
  font-variant: small-caps;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10px;
  font-weight: 900;
  letter-spacing: 1px;
  border: none;
  background-color: #fff;
  border: 1px solid #D2B48C;
}

#navcolumn {
  padding: 0;
}

#navcolumn ul {
  margin: 2px 0 12px 0;
}

#navcolumn li {
  margin: 0px 0 0px 3px;
  padding: 2px;
  list-style-position: outside;
  font-size: 7.5pt !important;
  padding-left: 16px !important;
  padding-left/**/: 2px !important;
}

#navcolumn a,#navcolumn strong {
  padding-left: 14px;
  text-decoration: underline;
  padding-bottom: 2px;
}

#navcolumn a img {
  margin-top: 0;
}

#navcolumn a#poweredBy img {
  margin: 0 0 0 20px;
  width: 88px;
  height: 31px;
  border: 1px solid #000;
}

#navcolumn a:hover {
  color: Olive;
  padding-left: 14px;
  text-decoration: underline;
  padding-bottom: 2px;
}

#breadcrumbs .xright,#breadcrumbs .xleft {
  color: #fff;
  padding: 4px;
  margin-right: 10px;
  display: inline;
}

#breadcrumbs .xleft {
  font-size: 7pt !important;
  color: #fff;
}

#banner #organizationLogo {
  display: none;
}

#banner a#projectLogo img {
  background-color: #fff !important;
  margin-right: 20px !important;
}

#navcolumn li {
  color: #fff;
}

#navcolumn li a.externalLink {
  background-image: none !important;
  padding: none;
}

div.source {
  background-color: #ddd;
}

div.source pre,code,td.code {
  font-size: 8pt !important;
  font-family: monospace;
  margin: 0;
}

td.code {
  font-size: 10pt !important;
  font-family: monospace;
}

div#legend {
  display: none;
}

table td.source {
  border: none !important;
}

table td,table th {
  font-size: 8pt !important;
  font-family: verdana;
}

table th {
  font-weight: bold;
}

.collapsed {
  background-image: url(../images/ico_collapsed.png) !important;
}

.expanded {
  background-image: url(../images/ico_expanded.png) !important;
}